.ad {
    background-color: #FFF;
	box-sizing: border-box;
	border: 5px solid #d9534f;
}
.ad-container{
    width: 95%;
    position: relative;
    z-index: 0;
}
.ad-section-title {
    color: #FFF;
}
$border: 10px solid #222;
#create-ad {
	width: 100%;
	img {
		width: 100% !important;
	}
}
.ad-image-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 25px;

	.ad-image {
		width: 100%;
		border: $border;
		margin-bottom: 15px;
	}
}
.filestack-button {
	width: 100%;
	margin-bottom: 15px;
}

.opacity {
    opacity: .5;
}
#create-ad {
	border: $border;
	// box-shadow: 0 0 10px 0;
	display: none;
	position: absolute;
	z-index: 3;
	width: 40vw;
	min-height: 60vh;
	left: 30vw;
	margin: 0 auto;
	background-color: white;
	padding-bottom: 25px;
}
.ad-form {
	margin: 0 auto;
	width: 80%;
}
@media screen and (max-width: 768px) {
	#create-ad{
		border: 5px solid #222;
		width: 100%;
		width: 100%;
		height: 100vh;
		left: 0vw;
	}
}
.display-none{
	visibility:hidden
}
.glyphicon.spinning {
	font-size: 3em;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}