.profile-dash {
	color: white;
	width: 100%;
	margin-top: -70px;
	padding-top: 70px;
	background-color: #222 + 75;
}

#create-ad {
	box-shadow: 0 0 25px 0;
	display: none;
	position: absolute;
	z-index: 3;
	width: 33vw;
	height: 60vh;
	left: 33vw;
	margin: 0 auto;
	background-color: white;

	img {
		width: 75%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	#create-ad{
		width: 100%;
		width: 100%;
		height: 100vh;
		left: 0vw;
	}
}